.CourseCard {

}
.image {
  width: 100%;
}
.title {
  margin-top: 15px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.info {
  margin-bottom: 5px;
  font-size: 12px;
  color: #999;
}
.price {
  font-size: 14px;
  color: #ff7745;
}